{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br>

<div class="divider-new pt-5">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Blog</h1>
</div>

<div class="container">
  <div class="card card-cascade wider reverse my-4">
    <div class="view overlay hm-white-slight">
        <img src="{{ asset('bundles/pagina/img/credenciales.jpg')}}" class="img-fluid">
        <a href="#!">
            <div class="mask"></div>
        </a>
    </div>

    <div class="card-body text-center">

        <h4 class="card-title"><strong>¿Cómo encontraron los datos filtrado del padrón del INE?</strong></h4>
        <p class="card-text">
          Los datos de 87 millones de mexicanos se filtraron en Internet.
          Se trata de una filtración que ha generado alarma sobre
          vulneravilidades en la privacidad en la red. Una enorme base de dato...
        </p>
    </div>
</div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="{{ asset('bundles/pagina/img/Warriors4.png')}}" class="img-fluid">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Conoce la Unidad de Crímenes Digitales de Microsoft</h5>
        <p class="card-text" style="font-size:14px">
          Desde carteles mexicanos de droga, botnets
          rusos hasta hackers chinos. Son el
          pan de cada día en la oficina de la Unidad
          de Crímenes Digitales (DCU, por sus siglas
          en inglés) la cual es una unidad ... </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="{{ asset('bundles/pagina/img/chip1.jpg')}}" class="img-fluid">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">México sigue avanzando en seguridad informática bancaria</h5>
        <p class="card-text" style="font-size:14px">
          Especialistas de ciberseguridad sostuvieron
          que la banca en América Latina es
          muy vulnerable a los ataques informáticos,
          toda vez que presenta problemas externos e inte...
        </p>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="{{ asset('bundles/pagina/img/WRS.png')}}" class="img-fluid">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Riesgos de hackeo en 95% de instituciones públicas</h5>
        <p class="card-text" style="font-size:14px">
          A pesar de que en 2014 las instituciones
          de la Administración Pública Federal
          (APF), invirtieron 30 mil millones de pesos
          en implementar Tecnologías de la Información,
          TIC, y protección de datos, 9...  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="{{ asset('bundles/pagina/img/Warriors15.png')}}" class="img-fluid">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">UNAM Mobile crea VisionarioMX para amantes y desarrolladores de apps</h5>
        <p class="card-text" style="font-size:14px">
          Hoy en día, todos estamos a la vanguardia
          en tecnología con nuestros dispositivos
          móviles, sólo con el roce de un dedo,
          y UNAM Mobile no podía ser la excepción.
          Se trata de un laboratorio de innova...
        </p>
      </div>
    </div>

  </div>
</div>







{% endblock %}
