{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br><br><br>
<img src="{{ asset('bundles/pagina/img/educacion1.jpg')}}" class="img-fluid w-100">


<div class="divider-new pt-2">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Educación</h1>
</div>

<div class="container">
  <div class="row">
    <p class="text-center">
      Cuando se trata de redes robustas con una gran cantidad de estaciones de trabajo conectadas
      al mismo tiempo y desde grandes distancias, el control de la seguridad resulta un verdadero
      reto, tal y como sucede con la infraestructura informática de las dependencias del sector gobierno,
      donde – además de eficiencia- se requiere de adaptabilidad, facilidad de utilización
      para el usuario individual y el administrador de TI, un amplio rango de gestión remota y en
      sitio, un comprobable retorno de la inversión (ROI) y, por supuesto, se necesita de costos realmente
      accesibles. La tecnología de Warriors está diseñada justamente con esos atributos, por
      lo que ha podido conquistar las preferencias del Municipio de Ecatepec, la Junta Local de Conciliación
      y Arbitraje del Distrito Federal, el Instituto Electoral del Distrito Federal, el Gobierno
      capitalino, la Secretaría de Educación Pública y el DIF Nacional, por mencionar sólo algunos
      ejemplos.
    </p>
  </div>
</div>

<div class="parallax3">
</div>
<br><br>

<div class="container">
  <div class="row">
    <p class="text-center">
      Es un hecho igualmente que la tecnología minimiza cada vez más el acercamiento directo
      entre las escuelas, maestros y alumnos, aparte de que los dispositivos móviles con acceso a Internet
      y a las redes institucionales (smartphones, tabletas, laptops, entre otros) se han convertido
      en un inmejorable campo de acción para la delincuencia ci bernética. Sumado a lo anterior,
      se presume que en la actualidad toda la información manejada por las instituciones educativas
      está bajo amenaza (el 63% sufre infecciones informáticas al menos dos veces al año y
      ha sufrido caídas de servicio provocadas por dichos ataques). Lo más delicado de todo este
      asunto es que la información manejada dentro de las instituciones educativas engloba actividades
      pedagógicas, de administración y de procesos de enseñanza entre directivos, docentes
      y estudiantes, por lo que los usuarios demandan un nuevo tipo de red que les garantice un balance
      entre la disponibilidad de la información y la seguridad. Considerando lo anterior,
      Warriors se ha dado a la tarea de diseñar una oferta integral de seguridad que incluye herramientas
      para el filtrado de contenido, el control de usuarios, el bloqueo de ataques por puertos
      (HTTP, HTTPS, FTP y SFTP), aplicaciones de backup/restore, tecnología anti-spam y contra
      virus, gestión de privilegios de acceso, protección a usuarios y equipos remotos, así como para
      la generación de reportes y gráficas, entre otros recursos que definen a cada modelo y familia
      de appliances de la marca.
    </p>
  </div>
  <div class="row wow zoomIn">
    <div class="col-md-2">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/newgeneration"><img src="{{ asset('bundles/pagina/img/WDNG.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">New Generation</h4>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/wmail"><img src="{{ asset('bundles/pagina/img/mail.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Mail</h4>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/firewall"><img src="{{ asset('bundles/pagina/img/firewall.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Firewall</h4>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/ips"><img src="{{ asset('bundles/pagina/img/IPS.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">IPS/IDS</h4>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/portalcautivo"><img src="{{ asset('bundles/pagina/img/pc.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Portal Cautivo</h4>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/storage"><img src="{{ asset('bundles/pagina/img/STORAGE.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Storage</h4>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
