{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br><br><br><br>
<img src="{{ asset('bundles/pagina/img/gobierno1.jpg')}}" class="img-fluid w-100">

<div class="divider-new pt-2">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Gobierno</h1>
</div>

<div class="container">
  <div class="row">
    <p class="text-center">
      Cuando se trata de redes robustas con una gran cantidad de estaciones de trabajo conectadas
      al mismo tiempo y desde grandes distancias, el control de la seguridad resulta un verdadero
      reto, tal y como sucede con la infraestructura informática de las dependencias del sector gobierno,
      donde – además de eficiencia- se requiere de adaptabilidad, facilidad de utilización
      para el usuario individual y el administrador de TI, un amplio rango de gestión remota y en
      sitio, un comprobable retorno de la inversión (ROI) y, por supuesto, se necesita de costos realmente
      accesibles. La tecnología de Warriors está diseñada justamente con esos atributos, por
      lo que ha podido conquistar las preferencias del Municipio de Ecatepec, la Junta Local de Conciliación
      y Arbitraje del Distrito Federal, el Instituto Electoral del Distrito Federal, el Gobierno
      capitalino, la Secretaría de Educación Pública y el DIF Nacional, por mencionar sólo algunos
      ejemplos.
    </p>
  </div>
</div>

<div class="parallax1">
</div>
<br><br>

<div class="container">
  <div class="row">
    <p class="text-center">
      Nuestras soluciones garantizan a las instancias gubernamentales y del sector público una seguridad
      sólida e integral para sus redes informáticas, permitiéndoles mejorar su visibilidad y
      transparencia, además de reducir los riesgos por amenazas internas/eternas y de cumplir con
      las normativas sobre retención y privacidad de datos, beneficiando de esta manera a los diferentes
      roles dentro de cada organismo, como funcionarios, ejecutivos, asesores, gente operativa
      y hasta secretarias. De manera general, los productos y appliances Warriors ofrecen un
      alto nivel de protección integral para las conexiones a Internet, los sistemas de telefonía IP, los
      equipos de impresión, los sistemas de correo y más, contemplando igualmente un plan de servicios
      que se ajusta a las necesidades y al presupuesto de cada dependencia.
    </p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="{{ asset('bundles/pagina/img/WDNG.png')}}" class="img-fluid">
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">New Generation</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="{{ asset('bundles/pagina/img/mail.png')}}" class="img-fluid">
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">Mail</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="{{ asset('bundles/pagina/img/firewall.png')}}" class="img-fluid">
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">Firewall</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="{{ asset('bundles/pagina/img/IPS.png')}}" class="img-fluid">
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">IPS/IDS</h3>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
