<h1>Esta es la informacion del candidato a ser un socio</h1>
<h1>Es la empresa: {{empresa}}</h1><br>
{{nombre}}<br>
{{select1}}<br>
{{correo}}<br>
{{select2}}<br>
{{ciudad}}<br>
{{cp}}<br>
{{direccion}}<br>
{{datos}}<br>
{{comentarios}}
