<h1>Esta es la informacion del candidato a ser un socio</h1>
<h1>Es la empresa: {{empresa}}</h1><br>
<h1>El nombre de la persona es: {{nombre}}</h1><br>
<h1>El tipo del cliente es: {{select1}}</h1> <br>
<h1>El correo del postulante: {{correo}}</h1> <br>
<h1>El pais de origen del postulante es: {{select2}}</h1><br>
<h1>La ciudad del postulante: {{ciudad}}</h1> <br>
<h1>El codigo postal es: {{cp}}</h1> <br>
<h1>La direccion del postulante es: {{direccion}}</h1> <br>
<h1>Los datos del postulante es: {{datos}}</h1> <br>
<h1>Comentarios: {{comentarios}}</h1>
